spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nextsteps
    username: nextsteps
    password: nextsteps
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
